{% extends 'core/base.html' %}

{% block title %}
    Blog {{ object.title }}
{% endblock %}

{% block navbar %}
    <a class="navbar-brand" href="{% url 'blogs:blog_list' %}">Список блогов</a>
{% endblock %}

{% block body %}
    <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ blog.title  }}</h3><br>
    </div>
    <div class="panel-body">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Информация
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h3>Автор: {{ object.author }}</h3>
                                <p>Дата: {{ object.date }}</p><br>
                                {% if object.category.all %}
                                    <a class="list-group-item active">Категории</a>
                                    {% for category in  object.category.all%}
                                        <p class="navbar-link">{{ forloop.counter }}){{ category.name }}<br></p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group">
            {% if object.posts.all %}
                <a class="list-group-item active">Посты</a>
                {% for post in object.posts.all %}
                    <div class="list-group-item">
                        {% if blog.author == user %}
                            <a href="{% url "blogs:edit_post" pk=post.id%}" class="badge pull-right">Редактировать</a>
                        {% endif %}
                        <a href="{% url "blogs:post" pk=post.id%}" class="navbar-link">{{ post.title }}</a>
                        <div class="list-group-item-text">{{ blog.description }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}



