{% load widget_tweaks %}
<form method="post" class="ajax-form" action="{% url "blogs:edit_blog" pk=blog.id %}">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Редактирование блога: {{ object.title }}</h4>
    </div>
    <label>Название</label>
    {% render_field form.title type="text" class="form-control" placeholder="Название" %}
    <label>Описание</label>
    {% render_field form.description type="text" class="form-control chosen-select" placeholder="Описание" %}
    <label>Категории</label>
    {% render_field form.category %}
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary">Изменить</button>
    </div>
</form>