{% extends 'core/base.html' %}
{% load widget_tweaks %}

{% block title %}
        Post {{ object.id }}
{% endblock %}

{% block navbar %}
        <a class="navbar-brand" href="{% url 'blogs:blog' pk=post.blog.id %}">Назад</a>
{% endblock %}

{% block body %}
    <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ post.title  }}</h3><br>
                </div>
                <div class="panel-body">
                    {{ post.description }}<br>
                    Дата: {{ post.date }}
                </div>
    </div>
    {% if post.comments.all %}
        <h4><font color="#fffff0">Коментарии</font></h4>
        {% for comment in post.comments.all %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Автор: {{ comment.author  }}</h3><br>
                </div>
                <div class="panel-body">
                    {{ comment.text }}<br>
                    Дата: {{ comment.date }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if not user.is_anonymous %}
        <form method="post">
            {% csrf_token %}
            {% render_field form.text add_class='form-control' placeholder="Коментарий" rows='3'%}<br>
            <button type="submit" class="btn btn-primary">Коментировать</button>
        </form>
    {% endif %}
{% endblock %}