{% extends 'core/base.html' %}

{% block title %}
        Post {{ object.id }}
{% endblock %}

{% block body %}
    <h3><a href="{% url 'blogs:blog' pk=object.blog.id %}">Назад</a></h3>
    <h1>{{ object.title }}</h1>
    <a>Текст: {{ object.description }}</a><br>
    <a>Дата: {{ object.date }}</a>
    {% if object.comments.all %}
        <h4>Коментарии</h4>
        {% for comment in object.comments.all %}
            <b>Автор: {{ comment.author }}</b><br>
            <a>Коментарий: {{ comment.text }}</a><br>
            <a>Дата: {{ comment.date }}</a>
        {% endfor %}
    {% endif %}
{% endblock %}