{% extends 'core/core.html' %}
{% load static %}
    {% block navbar_login %}
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    {% if user.is_anonymous %}
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Не авторезирован<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href={% url 'home:login' %}>Войти</a></li>
                            <li><a href={% url 'home:registration' %}>Зарегестрировать</a></li>
                        </ul>
                    {% else %}
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                        {% if user.avatar %}
                            <img src="{{ user.avatar.url }} " width="50 em" height="50 em" class="img-circle">
                        {% endif %}
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href={% url 'home:logout' %}>Выйти</a></li>
                        </ul>
                    {% endif %}
                </li>
            </ul>
    {% endblock %}