{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script src="{% static "core/bootstrap/jquery/jquery.min.js" %}"></script>
        <script src="{% static "core/bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "core/bootstrap/dist/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "core/style.css" %}">
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>

    <body>
    <nav class="navbar-inverse navbar-default">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header navbar-left">
                <a class="navbar-brand" href="{% url "home:home" %}">Домой</a>
            </div>
            <div class="navbar-right">
                {% block navbar_login %}
                {% endblock %}
            </div>
            {% block navbar %}
            {% endblock %}

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {% block body %}{% endblock %}
    </body>
</html>