{% extends 'core/base.html' %}

{% block title %}
    HOME
{% endblock %}

{% block body %}
    <h1><a href="{% url 'blogs:blog_list'%}">Список блогов</a></h1>
    <button class="btn btn-primary" type="button">
        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
        Количество блогов: <span class="badge">{{ blogs_count }}</span>
    </button>
    <button class="btn btn-primary" type="button">
        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
        Количество постов: <span class="badge">{{ posts_count }}</span>
    </button>
{% endblock %}