{% load widget_tweaks %}
<form method="post" class="registration-form" action="{% url 'home:registration' %}">
    {% csrf_token %}
    <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Регистрация</h4>
        </div>
    <div class="form-group">
        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
        {{ form.username|add_class:'form-control'|attr:'placeholder: Example' }}
    </div>
    <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
        {{ form.password1|add_class:'form-control'|attr:'placeholder: Example' }}
        <p class="help-block">{{ form.password1.error }}</p>
    </div>
    <div class="form-group">
        <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
        {{ form.password2|add_class:'form-control'|attr:'placeholder: Example' }}
    </div>
    <div class="form-group">
        <label for="{{ form.avatar.id_for_label }}">Avatar</label>
        {{ form.avatar }}
        <span class="help-block">Choose file with avatar</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
    </div>
</form>